<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardManage">
	<resultMap
		type="com.kh.travelMate.admin.model.vo.BoardManage"
		id="boardmanageResultSet">
		<id property="board_no" column="BOARD_NO"></id>
		<result property="writer" column="WRITER"></result>
		<result property="category" column="CATEGORY"></result>
		<result property="title" column="TITLE"></result>
		<result property="content" column="CONTENT"></result>
		<result property="board_date" column="BOARD_DATE"></result>
		<result property="status" column="STATUS"></result>
		<result property="board_level" column="BOARD_LEVEL"></result>
		<result property="ref_no" column="REF_NO"></result>
		<result property="email" column="EMAIL"></result>
		<result property="user_Name" column="USER_NAME"></result>
		<result property="nick_Name" column="NICK_NAME"></result>
		<result property="phone" column="PHONE"></result>
		<result property="birthDay" column="BIRTHDAY"></result>
		<result property="gender" column="GENDER"></result>
		<result property="enroll_Date" column="ENROLL_DATE"></result>
	</resultMap>

	<resultMap
		type="com.kh.travelMate.admin.model.vo.ConsultManage"
		id="consultapplyResultSet">
		<id property="consult_Apply_No" column="CONSULT_APPLY_NO"></id>
		<result property="apply_Date" column="APPLY_DATE"></result>
		<result property="job" column="JOB"></result>
		<result property="info" column="INFO"></result>
		<result property="travel_Exp" column="TRAVEL_EXP"></result>
		<result property="idea" column="IDEA"></result>
		<result property="etc" column="ETC"></result>
		<result property="user_No" column="USER_NO"></result>
		<result property="consult_Ok_Record_No"
			column="CONSULT_OK_RECORD_NO"></result>
		<result property="status" column="STATUS"></result>
		<result property="reason" column="REASON"></result>
		<result property="agree_Date" column="AGREE_DATE"></result>
	</resultMap>

	<!-- 모든 게시물 목록을 조회해 오는 쿼리문 -->
	<select id="selectAllBoard" parameterType="BoardManage"
		resultMap="boardmanageResultSet">
		SELECT *
		FROM BOARD
	</select>

	<select id="boardListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
	</select>

	<select id="boardList" parameterType="BoardManage"
		resultMap="boardmanageResultSet">
		SELECT *
		FROM BOARD
		ORDER BY BOARD_NO DESC
	</select>

	<select id="consultApplyListCount" resultType="_int">
		SELECT COUNT(*)
		FROM CONSULT_APPLY CA
	</select>

	<select id="consultApplyList" parameterType="ConsultManage"
		resultMap="consultapplyResultSet">
		SELECT *
		FROM CONSULT_APPLY CA
		LEFT JOIN MEMBER M ON
		(CA.USER_NO = M.USER_NO)
		ORDER BY CONSULT_APPLY_NO DESC
	</select>

	<select id="consultApplyDetail" parameterType="_int"
		resultMap="consultapplyResultSet">
		SELECT *
		FROM CONSULT_APPLY CA
		LEFT JOIN MEMBER M ON
		(CA.USER_NO = M.USER_NO)
		LEFT JOIN CONSULT_OK_RECORD COR ON
		(CA.CONSULT_APPLY_NO = COR.CONSULT_APPLY_NO)
		WHERE CA.CONSULT_APPLY_NO = #{ apply_no }
	</select>

	<insert id="consultApplyAccept" parameterType="ConsultManage">
		INSERT INTO CONSULT_OK_RECORD (CONSULT_OK_RECORD_NO, CONSULT_APPLY_NO, STATUS, REASON, AGREE_DATE)
		VALUES(SEQ_CONSULT_OK_RECORD_NO.NEXTVAL, #{ consult_Apply_No }, 'Y', #{ reason }, SYSDATE)
	</insert>

	<insert id="consultApplyRefuse" parameterType="ConsultManage">
		INSERT INTO CONSULT_OK_RECORD (CONSULT_OK_RECORD_NO, CONSULT_APPLY_NO, STATUS, REASON, AGREE_DATE)
		VALUES(SEQ_CONSULT_OK_RECORD_NO.NEXTVAL, #{ consult_Apply_No }, 'N', #{ reason }, SYSDATE)
	</insert>
	
	<update id="consultApplyAcceptSuccess" parameterType="ConsultManage">
		UPDATE MEMBER SET USER_TYPE_LEVEL = '3'
		WHERE USER_NO = #{ user_No }
	</update>

</mapper>  