<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  
  
<mapper namespace="Mypage">
	

	<select id="cyberMoneyHistory" resultType="java.util.HashMap" parameterType="int">
		SELECT * 
		FROM CYBERMONEY_RECORD 
		WHERE USER_NO = #{user_no}
	</select> 
	
	<select id="oneByOneHistory" resultType="java.util.HashMap" parameterType="int">
		SELECT *
		FROM BOARD 
		WHERE WRITER = #{user_no}
	</select>
	
	<select id="tradeInfoHistory" resultType="java.util.HashMap" parameterType="int">
		SELECT *
		FROM CONSULT_REQUEST
		WHERE REQUEST_USER_NO = #{user_no}
		
	</select>
	
	<update id="modifyUserInfo" parameterType="com.kh.travelMate.member.model.vo.Member">
		UPDATE MEMBER
		SET BIRTHDAY=#{birthday}, PHONE=#{phone}, NICK_NAME=#{nick_name}
		WHERE  USER_NO=#{user_no}
	</update>
	
	
	<select id="nickNameCheck" resultType="java.lang.Integer" parameterType="java.lang.String">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE NICK_NAME = #{nick_name}
	</select>
	
	<insert id="insertCyberMoney" parameterType="java.util.HashMap">
		insert into cybermoney_record
		values(seq_CYBERMONEY_RECORD_NO.nextval, #{userNo}, #{imp_uid}, sysdate, #{money}, '충전',(select cybermoney from member where user_no = #{userNo}))
	</insert>
	
	<insert id="insertCyberMoney2" parameterType="java.util.HashMap">
		insert into cybermoney_record
		values(seq_CYBERMONEY_RECORD_NO.nextval, #{userNo}, #{imp_uid}, sysdate, #{money}, '환불',(select cybermoney from member where user_no = #{userNo}))
	</insert>
</mapper> 


