<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  
  
<mapper namespace="Mypage">
	

	<select id="cyberMoneyHistory" resultType="java.util.HashMap" parameterType="int">
		select CYBERMONEY_RECORD_NO,USER_NO,CR.PROOF_NO,RECORD_DATE,CHANGE_MONEY,CHANGE_REASON,BEFORE_MONEY,COUNT
		from CYBERMONEY_RECORD CR
		join testView v on(CR.proof_no = v.proof_no)
		WHERE USER_NO = #{user_no}
		order by record_date desc
	</select> 
	
	<select id="consultingCustomerHistory" resultType="java.util.HashMap" parameterType="_int">
		SELECT * 
		FROM CONSULT_REQUEST cr
		join member m on (cr.REQUEST_USER_NO = m.user_no) 
		WHERE CONSULT_USER_NO = #{user_no}
	</select> 
	
	
	<select id="oneByOneHistory" resultType="java.util.HashMap" parameterType="_int">
		SELECT *
		FROM BOARD 
		WHERE WRITER = #{user_no} 
		AND CATEGORY = 2
	</select>
	
	<select id="tradeInfoHistory" resultType="java.util.HashMap" parameterType="_int">
		SELECT *
		FROM CONSULT_REQUEST
		WHERE REQUEST_USER_NO = #{user_no}
		
	</select>
	
	<update id="modifyUserInfo" parameterType="com.kh.travelMate.member.model.vo.Member">
		UPDATE MEMBER
		SET BIRTHDAY=#{birthday}, PHONE=#{phone}, NICK_NAME=#{nick_name}
		WHERE  USER_NO=#{user_no}
	</update>
	
	
	<select id="nickNameCheck" resultType="java.lang.Integer" parameterType="java.lang.String">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE NICK_NAME = #{nick_name}
	</select>
	
	<select id="cyberMoney" resultType="java.lang.Integer" parameterType="java.lang.Integer">
		SELECT CYBERMONEY
		FROM member
		WHERE USER_NO = #{user_no}
	</select>
	
	<insert id="insertCyberMoney" parameterType="java.util.HashMap">
		insert into payment
		values(seq_payment_NO.nextval, #{imp_uid}, '구매', #{money}, sysdate, '결제완료', '카드', null, #{userNo}) 
	</insert>
	
	<insert id="insertCyberMoney3" parameterType="java.util.HashMap">
		insert into payment
		values(seq_payment_NO.nextval, seq_payment_info_no.nextval, '구매', #{money}, sysdate, '입금대기', '현금', null, #{userNo})
	</insert>
	<insert id="insertCyberMoney4" parameterType="java.util.HashMap">
		insert into payment_info
		values(seq_payment_info_no.currval, #{account_no}, #{account_name})
	</insert>
	<insert id="insertCyberMoney5" parameterType="java.util.HashMap">
		insert into payment
		values(seq_payment_NO.nextval, #{imp_uid}, '환불', #{money}, sysdate, '환불대기', '현금', (select PAYMENT_NO from payment where PROOF_NO = #{imp_uid}), #{userNo})
	</insert>
	<insert id="insertCyberMoney2" parameterType="java.util.HashMap">
		insert into payment
		values(seq_payment_NO.nextval, #{imp_uid}, '환불', #{money}, sysdate, '환불완료', '카드', (select PAYMENT_NO from payment where PROOF_NO = #{imp_uid}), #{userNo})
	</insert>
	
	<select id="checkpwd" parameterType="com.kh.travelMate.member.model.vo.Member" resultType="java.lang.String">
		SELECT PASSWORD 
		FROM MEMBER 
		WHERE USER_NO = #{user_no}	
	</select>
	
	<update id="updatepwd" parameterType="com.kh.travelMate.member.model.vo.Member">
		UPDATE MEMBER 
		SET PASSWORD = #{password} 
		WHERE USER_NO = #{user_no}
	</update>
	
	
	<update id="updateCancel" parameterType="com.kh.travelMate.member.model.vo.Member">
		UPDATE MEMBER 
		SET USER_TYPE_LEVEL = '탈퇴회원'
		WHERE USER_NO = #{user_no}
	</update>
	
	<!-- 	1:1문의 상세보기 -->
	<select id="selectOneByOneBoard" parameterType="java.lang.Integer" resultType="java.util.ArrayList">
		SELECT *
		FROM BOARD
		WHERE BOARD_NO = #{ boardNo }
	</select>
</mapper> 


