<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

<mapper namespace="Others">
	
	<insert id="insertCONSULT_APPLY" parameterType="ConsultApply">
		INSERT INTO CONSULT_APPLY
		VALUES(SEQ_CONSULT_APPLY_NO.NEXTVAL, default, #{JOB}, #{INFO}, #{TRAVEL_EXP}, #{IDEA}, #{ETC}, #{USER_NO})
	</insert>
	
	<insert id="insertConsultRequest" parameterType="ConsultRequest">
		INSERT INTO CONSULT_REQUEST
		VALUES(SEQ_CONSULT_REQUEST_NO.NEXTVAL, #{TRAVEL_PURPOSE}, #{ADULT_NUM}, #{CHILD_NUM}
		, #{TRAVEL_AREA}, #{TRAVEL_START_DATE}, #{TRAVEL_END_DATE}, #{BUDGET}, #{ETC}, 'N'
		, NULL, #{REQUEST_USER_NO}, #{CONSULT_USER_NO}
)
	</insert>
	
	<insert id="insertAttachment" parameterType="Attachment">
		INSERT INTO ATTACHMENT
		VALUES(SEQ_ATTACHMENT_NO.NEXTVAL, #{originName}, #{modifyName}, #{fileRoot}, SYSDATE, '1', 1)
	</insert>
	
</mapper>